body{
	background-color: lightyellow;
}

.header{
    margin-top: 2%;
    margin-bottom: 3%;
}

.logo img{
    margin-left: 3%;
    float: left;
	width: 8%;
	border: 2px solid darkgreen;
	border-radius: 20%;
	animation: fade 4s infinite;
}

@keyframes fade{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

.title{
    margin-left: 13%;
}

.title h1{
    color: darkgreen;
	font-weight: bold;
    font-family: URW Chancery L, cursive;
    animation: title1 4s infinite;
}

@keyframes title1{
    0% {transform: translate(100px);}
}

.title p{
	font-size: 15px;
	font-weight: bold;
    animation: title2 4s infinite;
}

@keyframes title2{
    0% {transform: translateY(35px);}
}




.container{
    width: 95%;
    margin: auto;
    background-image: url(intro_img2.jpg);
    background-size: 100% 100%;
    height: 50%;
    padding-bottom: 50%;
}

.box{
	height: 20%;
	width: 32%;
	border: 4px solid white;
	background-color: lightgray;
	margin-top: 15%;
    margin-left: 5%;
    position: absolute;
    font-size: 15px;
}

.box p{
    margin: 5%;
}

.slidecontainer{
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.slideshow{
	width: 300%;
	height: inherit;
	display: flex;
	animation: left 20s infinite;
}

@keyframes left{
    0%{margin-left: 0%}
    20% {margin-left:0%}
    35% {margin-left:-100%;}
    50% {margin-left:-100%;}
    65% {margin-left:-200%;}
    80% {margin-left:-200%;}
    100%{margin-left: 0%;}
}

.slide1{
    font-size: 15px;
    width: 100%;
	height: 100%;
	text-align: center;
    background-color: #d6be52;
    color: black;
    margin: auto;
}

.slide2{
    font-size: 15px;
    width: 100%;
	height: 100%;
	text-align: center;
    background-color: #696b04;
    color: white;
    margin: auto;
}

.slide3{
    font-size: 15px;
    width: 100%;
	height: 100%;
	text-align: center;
    background-color: #2e2e0d;
    color: white;
    margin: auto;
}




.container2{
    position: relative;
    width: 95%;
	margin: auto;
	margin-top: 2%;
}

.leftbox{
    position: relative;
    float: left;
    width: 40%;
    height: 40%;
}

.leftimage{
    width: 100%;
    height: 100%;
}

.textbox1{
    position: absolute;
    border: 1px solid lightgreen;
    width: 65%;
    height: 45%;
	color: white;
    background-color: rgba(236, 240, 235, 0.4);
    bottom: 40%;
    left: 5%;
}

.textbox1 p{
	margin: 10%;
}

.rightbox{
    height: 40%;
    width: 40%;
    position: absolute;
    float: right;
    margin-left: 58.5%;
    padding-bottom: 28.5%;
    padding-right: 1%;
	border: 2px solid lightgray;
    background: linear-gradient(45deg, lightgray, lightgreen);
}

.rightbox h2{
    position: relative;
    color: darkgreen;
    margin: 5%;
}
.rightbox p{
    position: relative;
    color: darkgreen;
    margin: 5%;
}




.header1{
    margin-top: 33%;
    color: darkgreen;
}

.hr{
    border-top: 2px solid darkgreen;
}

.first{
    width: 95%;
    margin: auto;
}

.lotions{
	width: 60%;
	margin: auto;
    display: flex;
    margin-top: 3%;
}

.lotion{
    width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lotion a{
    color: white;
    text-decoration: none;
}

.lotionimage{
	width: 80%;
	height: 80%;
}

.brand{
    font-size: 80%;
	color: darkgreen;
}

.name{
    font-size: 100%;
    text-align: center;
    line-height: 0%;
	font-weight: bold;
}

.size{
	font-size: 70%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.price{
    font-size: 100%;
    line-height: 0%;
}

.bag{
    text-decoration: none;
    background-color: black;
    width: 35%;
    font-size: 70%;
    padding: 3%;
}

.bag:hover{
    background-color: gray
}




.modal{
    margin-top: 5%;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    pointer-events: none;
}

.modal:target{
	opacity: 1;
	pointer-events: auto;
}

.hr1{
    width: 80%;
}

.return{
	float: right;
	width: 3%;
	height: 6%;
	background-color: lightgrey;
	text-decoration: none;
	text-align: center;
	font-size: 100%;
}

.part1{
	height: 50%;
	width: 35%;
	margin: auto;
	background-color: white;
}

.text1{
    display: inline-block;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 70%;
}

.bagitem{
	display: flex;
	margin: auto;
	width: 80%;
	margin-top: 4%;
}

.bagitem img{
	height: 50%;
    width: 50%;
}

.item1Brand{
    font-size: 80%;
}

.item1brandName{
	font-size: 120%;
	font-weight: bold;
}

.item1brandSize{
	font-size: 70%;
}

.item1brandPrice{
	font-size: 100%;
}

.item1brandSale{
	font-size: 70%;
}

.description{
	background-color: lightgrey;
    padding: 3%;
}

.description p{
    font-size: 73%;
    margin-left: 10%;
}

.hr2{
    margin-left: 10%;
    width: 85%;
    border-top: 2px solid white;
}

.description button{
	margin-left: 10%;
	background-color: white;
    width: 25%;
    padding: 1%;
}

.description a{
	color: black;
	text-decoration: none;
	font-size: 70%
}




.header2{
    color: darkgreen;
}

.lotions1{
	width: 60%;
	margin: auto;
    display: flex;
}




.footer{
    background-color: black;
    margin: auto;
    width: 95%;
    height: 400px;
}

.footer1{
    text-align: center;
}

.footer2{
    float: left;
    width:25%;
    text-align: center;
    color:white;
    height: 150px;
}

.footer2 p{
    line-height: 0%;
}
  
.footer2 a{
    text-decoration: none;
}  

.hr3{
    border-top: 2px solid white;
    width: 85%;
}

.connect{
    color: white;
    float: right;
}

.connect h4{
    margin-left: 62%;
}

.links{
    margin-left: 62%;  
}

.logo2{
    text-align: center;
    width: 8%;
    margin-left: 5%;
}

.bottom{
    margin-top: 15%;
    text-align: center;
    color: white;
}